/* class */
.menu_body{
    position: absolute;
    height: 100vh;
    width: 30%;
    background-color: #007FFF;
}

.site_body{
  position: absolute;
  height: 100vh;
  width: 70%;
  background-color: #fff;
  margin-left: 30%;
}


.copy {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

  .actual{
    color: #1AFFD5!important;
  }

  .item{
    position: relative;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 44px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
  }

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.job{  
    position: relative;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}

.name {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    
    align-items: center;
    text-align: center;
    
    color: #FFFFFF; 
}
  
.page_title{
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 6rem;
  line-height: 49px;

  align-items: center;
  text-align: center;

  padding: 5%;

  color: #007FFF;
}

.about_user{
  padding: 3rem;
}

.artigo-link {
  text-decoration: none;
  color: black;
}

.artigo-link:hover {
  text-decoration: none;
  color: #1AFFD5;
}

.contact-icon {
  font-size: 5rem;
}

.contact {
  font-size: 2rem;
}
  /* elements */
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  ul>li {
    list-style:none;
  }

  a{
    text-decoration: none;
  }

  /*MQ*/
  @media (max-width: 545px) {
    .menu_body{
        width: 20%;
    }
    .site_body{
      width: 80%;
      margin-left: 20%;
    }

    .copy {
        display: none;
    }

    .open-menu {
        display: none;
    }

    li {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }
    .item{
        font-size: 1rem;
      }

      .photo {
        display: none;
    }
    .job{
        display: none;
    }

    .name {
        display: none;
    }

    .contact-icon {
      font-size: 3rem;
    }
    
    .contact {
      font-size: 1rem;
    }
  }

  @media (min-width: 546px) {
    .closed-menu {
        display: none;
    }
  }