/* class */
.menu_body{
    position: absolute;
    height: 100%;
    width: 30%;
    background-color: #007FFF;
}

.copy {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

  .actual{
    color: #1AFFD5!important;
  }

  .item{
    position: relative;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 44px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
  }

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.job{  
    position: relative;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}

.name {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    
    align-items: center;
    text-align: center;
    
    color: #FFFFFF; 
}
  
  /* elements */
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  ul>li {
    list-style:none;
  }

  a{
    text-decoration: none;
  }

  /*MQ*/
  @media (max-width: 545px) {
    .menu_body{
        width: 20%;
    }

    .copy {
        display: none;
    }

    .open-menu {
        display: none;
    }

    li {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }
    .item{
        font-size: 1rem;
      }

      .photo {
        display: none;
    }
    .job{
        display: none;
    }

    .name {
        display: none;
    }
  }

  @media (min-width: 546px) {
    .closed-menu {
        display: none;
    }
  }