body{
    background-color:darkkhaki;
}
h1{
    font-size: 300px;
    position: absolute;
    top: 0;
    color: darkorchid;
    margin-top: 3%;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 425px) {
    h1{
        font-size: 130px;
        margin-top: 10%;
    }
}
