body{
	background:pink;
  }
  .container{
	background:pink;
		position: absolute;
	left: 25%;
	transform: translateX(-25%);
	top: 50%;
	transform: translateY(-50%);
  }
  .shelves{
	position: absolute;
    left: -90%;
    transform: translateX(-25%);
    top: 50%;
    transform: translateY(-50%);
  }

  .planta1{
	position:absolute;
	border-top:60px solid #6EA5BA;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	height: 0;
	width: 150px;
	margin:-127px 182px
  }
  .planta1::before, .planta1::after{
	content:"";
	position:absolute;
  }
  .planta1::before{
	border-top:60px solid #93C3DB;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	height: 0;
	width: 130px;
	margin:-60px -21px
  }
  .planta1::after{
	width:200px;
	height:7px;
	border-radius:3px;
	background:#0A99D8;
	margin:-65px -30px;
  }
  .tallo{
	position: absolute;
    width: 10px;
    height: 60px;
    background: #38F9F9;
    margin: -120px 60px;
  }
  .tallo::before, .tallo::after{
	content: "";
    position: absolute;
    width: 20px;
    height: 24px;
    background: #049E9A;
	
  }
  .tallo::before{
	border-radius: 3000px 300px;
	margin: 3px 10px;
  }
  .tallo::after{
	border-radius: 300px 3000px;
    margin: 18px -18px;
  }
  .flor{
	position:absolute;
	width:30px;
	height:30px;
	background:#6A4493;
	border-radius:300px 3000px;
	transform:rotate(45deg);
	margin: -147px 49px;
  }
  .flor::before, .flor::after{
	content:"";
	position:absolute;
	width:30px;
	height:35px;
  }
  .flor::before{
	background:#B7ADCB;
	 border-radius:3000px 300px;
	transform:rotate(60deg);
	margin:6px -5px
  }
  .flor::after{
	background:#9F93C6;
	 border-radius:300px 3000px;
	 transform:rotate(30deg);
	margin:-8px 9px
  }

  p {
    color: #9d86e1;
    font-style: oblique;
    font-weight: bolder;
}