/*Folha de estilo style/sass/layout/_imgSocial.css*/
.redessociais{ 
    height: 12rem;
    display: flex;
    flex-direction: row;   
    
    
    img{
        height: 4rem;
    }

    #linkedin{
        align-self: flex-start ;
    }

    #github{
        align-self: flex-start ;
      
    }

    #facebook{
        margin-left: -8rem;
        align-self: center;         
    }

    #twitter{
        align-self: center;     
    }

    #insta{
        margin-left: -8rem;
        align-self: flex-end;   
    }

    #gp{
        align-self: flex-end;
    }
}