/*Folha de estilo style/sass/layout/_rodape.css*/
footer{
    width: 100%; 
    bottom: 0;
    position: fixed;
    background-color: $PrimaryBlue;
    p{
        margin-left: 1rem;
        color: $PrimaryWhite;
    }
}